
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 100vh;
    width: 100%;
}





.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
}

.slide-image {
    min-width: 100%;
    height: 100%;
    border-radius: 8px;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.slider-button:first-of-type {
    left: 10px;
}

.slider-button:last-of-type {
    right: 10px;
}
