
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Romanesco&display=swap');
.home-container {
    position: relative;
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.line-1{
    width: 80%;
    height: 1px;
    background-color: #333;
    opacity: 0.2;
    margin-bottom: 10px;
}

.front-page-picture {
    position: relative;
    width: 80%;
  
   
  
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.front-page-picture:hover .slider-button{
    opacity: 1;
}



.image-slider {
    width: 100%;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

img:hover{

    cursor: pointer;
    transform: scale(1.01);
  
    
}

img{
    transition: transform 0.5s;


}
.slider-image {
    width: 100%;
   

}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   background: none;
  color:black;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
}

.slider-button:hover{
  
    color: #333;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* Navigation Dots */
.navigation-dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}

.order-now-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%)
   
}

.order-now{
    display: flex;
    width: 80%;
    height: 100%;
  
    position: relative;

}



.order-message{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
}



.order-message-1{
    font-size: 3rem;
    font-weight: bold;
}

.order-message-2{
    width: 50%;
}

.order-message-2 button{
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    
}

.order-message-2 button:hover{
    background-color: #444;
}

#order-message-3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.order-img {
    width: 50%;
    height: 100%;
    position: absolute;
    right: -50px;
    top: 20px;
    
}

.order-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.start-selling-container {
    width: 100%;
    height: 500px;
    background-color: white;
    
    display: flex;
    justify-content: center;  /* Centers the content horizontally */
    align-items: center;  /* Centers the content vertically */
}

.start-selling {
    width: 80%;  /* Controls the width of the inner content */
    height: 100%;
    display: flex;
    align-items: center;  /* Centers items vertically */
    justify-content: space-between;  /* Adds space between the image and the message */
}

.start-selling-img {
    width: 45%;  /* Adjust the width of the image */
    height: 100%;
    position: relative;
    
}

.start-selling-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
    position: absolute; /* Absolute positioning within a relatively positioned container */
    top: 20px;
    left: -50px;
    z-index: 1; /* Ensure the image stays on top of other elements */
}
.start-selling-img {
    position: relative; /* Creates a containing block for the absolutely positioned child */
}


.start-selling-message {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #222;
    
}

.start-selling-message-1 {
   font-size: 3rem;
   font-weight: bold;
    
    
    color: #333;  /* Text color */
}

.start-selling-message h1{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.start-selling button{
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    cursor: pointer ;
    border: none;

}

.start-selling button:hover{
    background-color: #444;
}









.food-classification-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 96%);  
    margin-top: 50px;
    padding: 10px;
}


.food-classification-title{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}








.food-classification{
    position: relative;
    z-index: 1;
    height: 500px;
    width: 100%;
  
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
  
   
    
}
.food-container{
    position: relative;
    border-radius: 8px;
    margin: 5px ;
    height: 200px;
    

    display: flex;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.food-container-img{
   width: 50%;
   height: 100%;
}

.food-container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.food-title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.food-title p {
    font-size: 2rem;
    font-weight: bold;
    color: #333;

}

#find-your-cravings{
    text-align: center;
}

.what-we-do-container {
    width: 100%;
    height: 650px; /* Fixed height */
    display: flex;
    background-color: hsl(0, 0%, 90%);
}

.what-we-do {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.what-we-do-background {
    width: 500px;
    height: 350px;
    position: relative;
    background-color: #333;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.what-we-do-img-container {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -30px; /* Aligned to prevent offset */
    left: -45px; /* Aligned to prevent offset */
    border-radius: 15px;
}

.what-we-do-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.what-we-stand-for {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.what-we-do-title-container {
    width: 80%;
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.what-we-do-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
}

.line-1 {
    width: 50%;
    height: 5px;
    background-color: #222;
}

.what-we-do-title-message {
    font-size: 1.2rem;
    color: #222;
}

.what-we-stand-for-img-container {
    color: white;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -30px; /* Aligned to prevent offset */
    left: 45px; /* Aligned to prevent offset */
    border-radius: 15px;
}

.video-platform-container {
    width: 100%;
    height: 600px; /* Set the height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Optional: for a nice background */
}

.video-platform {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container without distortion */
}

.video-title{
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 0px ;
}

.video-title p {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}






.footer{
    width: 100%;
    height: 500px;
}