
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Romanesco&display=swap');
.home-container {
    position: relative;
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.line-1{
    width: 80%;
    height: 1px;
    background-color: #333;
    opacity: 0.2;
    margin-bottom: 10px;
}

.front-page-picture {
    position: relative;
    width: 80%;
  
   
  
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.front-page-picture:hover .slider-button{
    opacity: 1;
}



.image-slider {
    width: 100%;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

img:hover{

    cursor: pointer;
    transform: scale(1.01);
  
    
}

img{
    transition: transform 0.5s;


}
.slider-image {
    width: 100%;
   

}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   background: none;
  color:black;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
}

.slider-button:hover{
  
    color: #333;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* Navigation Dots */
.navigation-dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}

.order-now-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%)
   
}

.order-now{
    display: flex;
    width: 80%;
    height: 100%;
  
    position: relative;

}



.order-message{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
}



.order-message-1{
    font-size: 3rem;
    font-weight: bold;
}

.order-message-2{
    width: 50%;
}

.order-message-2 button{
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    
}

.order-message-2 button:hover{
    background-color: #222;
}

#order-message-3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.order-img {
    width: 50%;
    height: 100%;
    position: absolute;
    right: -50px;
    top: 20px;
    
}

.order-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.start-selling-container{
    width: 100%;
    height: 500px;
    background-color: white;
}





















.food-classification{
    height: 500px;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #333;
    
}
.food-container{
    position: relative;
    border-radius: 8px;

    margin: 5px ;
    height: 200px;
    
    background-color: #333;
    padding: 5px;

    display: flex;
    cursor: pointer;
}

.food-container-img{
   width: 50%;
   height: 100%;
}

.food-container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.food-title{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-title p {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}