@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Romanesco&display=swap');

.home-container {
    position: relative;
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.line-1 {
    width: 80%;
    height: 1px;
    background-color: #333;
    opacity: 0.2;
    margin-bottom: 10px;
}

.front-page-picture {
    position: relative;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.front-page-picture:hover .slider-button {
    opacity: 1;
}

.image-slider {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

img {
    transition: transform 0.5s;
}

.slider-image {
    width: 100%;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: black;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
}

.slider-button:hover {
    color: #333;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* Navigation Dots */
.navigation-dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}

.order-now-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

.order-now {
    display: flex;
    width: 80%;
    height: 100%;
    position: relative;
}

.order-message {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
}

.order-message-1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FF914D;
}

.order-message-2 {
    width: 50%;
}

.order-message-2 button {
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: hsl(23, 100%, 70%);
    color: white;
    cursor: pointer;
    border: none;
}

.order-message-2 button:hover {
    background-color: hsl(23, 100%, 70%);
}

#order-message-3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.order-img {
    width: 50%;
    height: 100%;
    position: absolute;
    right: -50px;
    top: 20px;
}

.order-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-selling-container {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-selling {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start-selling-img {
    width: 45%;
    height: 100%;
    position: relative;
}

.start-selling-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 20px;
    left: -50px;
    z-index: 1;
}

.start-selling-message {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #222;
}

.start-selling-message-1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FF914D;
}

.start-selling-message h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.start-selling button {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #FF914D;
    color: white;
    cursor: pointer;
    border: none;
}

.start-selling button:hover {
    background-color: hsl(23, 100%, 70%);
}

.food-classification-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 98%);
    margin-top: 50px;
    padding: 10px;
}

.food-classification-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FF914D;
}

.food-classification {
    position: relative;
    z-index: 1;
    height: 500px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.food-container {
    position: relative;
    border-radius: 8px;
    margin: 5px;
    height: 200px;
    display: flex;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.food-container:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.food-container-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-container-img i {
    font-size: 100px;
    color: #f07a2b;
    transition: 0.3s ease-in-out;
}

.food-container:hover .food-container-img i {
    color: #FF914D;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.food-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.food-title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.food-title p {
    font-size: 2rem;
    font-weight: bold;
    color: #FF914D;
}

#find-your-cravings {
    text-align: center;
}

.what-we-do-container {
    width: 100%;
    height: 650px;
    display: flex;
    background-color: white;
}

.what-we-do {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.what-we-do-background {
    width: 500px;
    height: 350px;
    position: relative;
    background-color: #333;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #FF914D;
}

.what-we-do-img-container {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -30px;
    left: -45px;
    border-radius: 15px;
}

.what-we-do-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.what-we-stand-for {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.what-we-do-title-container {
    width: 80%;
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.what-we-do-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF914D;
}

.line-1 {
    width: 50%;
    height: 5px;
    background-color: #222;
}

.what-we-do-title-message {
    font-size: 1.2rem;
    color: #222;
}

.what-we-stand-for-img-container {
    color: white;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -30px;
    left: 45px;
    border-radius: 15px;
}

.footer-container {
    width: 100%;
    height: 500px;
    background-color: #FF914D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 80%;
    height: 100%;
    padding: 20px;
}

.footer-top {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-img-container {
    height: 100%;
    width: 30%;
    margin-top: 20px;
}

.footer-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-order-now-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-order-now-container button {
    font-size: 2rem;
    padding: 15px 30px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.footer-order-now-container button:hover {
    background-color: #444;
}

/* Media Queries for Responsiveness */
/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .order-now, .start-selling {
        flex-direction: column;
        align-items: center;
    }

    .order-message, .start-selling-message {
        width: 100%;
        text-align: center;
    }

    .order-img, .start-selling-img {
        width: 100%;
        height: auto;
        position: relative;
        right: 0;
        top: 0;
    }

    .order-img img, .start-selling-img img {
        position: static;
    }
}

@media (max-width: 768px) {
    .food-classification {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .what-we-do-container {
        flex-direction: column;
        height: auto;
    }

    .what-we-do, .what-we-stand-for {
        width: 100%;
    }

    .what-we-do-background, .what-we-do-img-container, .what-we-stand-for-img-container {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-img-container, .footer-order-now-container {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .order-message-1, .start-selling-message-1, .food-title p, .what-we-do-title {
        font-size: 2rem;
    }

    .order-message-2 button, .start-selling button, .footer-order-now-container button {
        font-size: 1rem;
        padding: 10px 15px;
    }

    .food-container {
        height: 150px;
    }

    .food-container-img i {
        font-size: 50px;
    }

    .food-classification {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .food-classification-title {
        font-size: 2rem;
    }

    .what-we-do-title-container, .what-we-do-title-message {
        padding: 0 10px;
     
      
    }

    .what-we-do{
        
    }

    .footer-container {
        padding: 20px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-img-container, .footer-order-now-container {
        width: 100%;
        margin-top: 20px;
    }
}